.bg {
    background-image: url("../images/background.jpg");
    height: 100%;
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
    opacity: 0.75;
}

.klasa {
    margin-top: 300px;
}

a:hover {
    text-decoration: none;
    text-underline: none;
}


#tabela{
    margin-top: 580px;
    margin-left: 200px;
}
